@using MVCWeb.Core.Entities
@model MVCWeb.Models.OrderEditViewModel
@{
    ViewBag.Title = "Chỉnh sửa/Tạo đơn hàng";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="row">
    <br />
    <div class="message-alert" id="alert-container"></div>
</div>

<div class="row">
<div class="col-md-12">
@using (Ajax.BeginForm("Edit", "Order", new AjaxOptions
{
    OnSuccess = "orderEditCallBack",
    LoadingElementId = "orderEditLoading"
}, new { @id = "frmOrderEdit" }))
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            Thông tin đơn hàng
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-md-12">
                    <table class="pull-left">
                        <tr>
                            <td style="width: 90px">
                                <strong>Tìm khách:</strong>
                            </td>
                            <td style="width: 200px">
                                <input type="text" class="form-control" placeholder="Từ khóa..." id="txtSearchCustomer"/>
                            </td>
                            <td style="width: 30px"></td>
                            <td>
                                <input type="checkbox" id="chkCustomerType" checked="checked">
                            </td>
                        </tr>
                    </table>
                    <table class="pull-right">
                        <tr>
                            <td style="width: 40px">
                                <img src="~/Content/images/ajax-loader-2.gif" style="display: none" id="orderEditLoading" />
                            </td>
                            @if (Model.IsCompletedOrder)
                            {
                                <td>
                                    <strong class="text-success italic">Đơn hàng đã hoàn tất!</strong>
                                </td>
                            }
                            else
                            {
                                <td class="text-right" style="width: 130px">
                                    <button class="btn btn-danger" type="button" id="btnSubmit"><span class="glyphicon glyphicon-floppy-disk"></span> Lưu đơn hàng</button>
                                </td>
                            }
                            @if (Model.Order != null)
                            {
                                <td class="text-right" style="width: 140px">
                                    <button class="btn btn-primary" type="button" id="btnPrint"><span class="glyphicon glyphicon-print"></span> In đơn hàng</button>
                                </td>
                            }
                            @if (Model.Order != null && !Model.IsCompletedOrder)
                            {
                                <td class="text-right" style="width: 180px">
                                    <button class="btn btn-success" type="button" id="btnComplete"><span class="glyphicon glyphicon-ok"></span> Hoàn tất đơn hàng</button>
                                </td>
                            }
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        @Html.TextBoxFor(o => o.Customer.CustomerName, new {@class = "form-control customer-info", @id = "txtCustomerName"})
                        @Html.HiddenFor(o => o.Customer.Id, new {@id = "customer-id"})
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Điện thoại</label>
                        @Html.TextBoxFor(o => o.Customer.PhoneNo, new {@class = "form-control customer-info", @id = "txtPhoneNo"})
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(o => o.Customer.Email, new {@class = "form-control customer-info", @id = "txtEmail"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        @Html.TextBoxFor(o => o.Customer.Address, new {@class = "form-control customer-info", @id = "txtAddress"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Quận/Huyện</label>
                        @Html.TextBoxFor(o => o.Customer.Region, new {@class = "form-control customer-info", @id = "txtRegion"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tỉnh/Thành phố</label>
                        @Html.TextBoxFor(o => o.Customer.Area, new {@class = "form-control customer-info", @id = "txtArea"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Ghi chú cho khách hàng</label>
                        @Html.TextAreaFor(o => o.Customer.Note, 3, 10, new { @class = "form-control", @id = "txtCustomerNote" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Ghi chú cho đơn hàng</label>
                        @Html.TextBoxFor(o => o.Order.Note, new {@class = "form-control", @id = "txtOrderNote"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mẫu ghi chú</label>
                        <select id="order-note-hint" class="form-control">
                            <option value="0"></option>
                            <option value="Giao hàng trước ...">Giao hàng trước ...</option>
                            <option value="Giao hàng từ thứ ... đến thứ ...">Giao hàng từ thứ ... đến thứ ...</option>
                        </select>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(o => o.Order.DiscountType, new { @id = "order-discount-type"})
    @Html.HiddenFor(o => o.Order.DiscountValue, new { @id = "order-discount-value" })
    @Html.HiddenFor(o => o.OrderDetailJson, new { @id = "order-detail-json" })
    @Html.HiddenFor(o => o.Order.Id, new { @id = "order-id" })
}

<div class="panel panel-warning">
    <div class="panel-heading">
        Chi tiết đơn hàng
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover" id="product-order">
            <thead>
            <tr>
                <th class="text-center" style="width: 30px">
                    #
                </th>
                <th class="text-center" style="width: 300px">
                    Tên sản phẩm
                </th>
                <th class="text-center" style="width: 180px">
                    Quy cách
                </th>
                <th class="text-center">
                    Mô tả
                </th>
                <th class="text-center" style="width: 130px">
                    Giá gốc
                </th>
                <th class="text-center" style="width: 130px">
                    Đơn giá
                </th>
                <th class="text-center" style="width: 130px">
                    Số lượng
                </th>
                <th class="text-center" style="width: 130px">
                    Thành tiền
                </th>
                <th style="width: 50px"></th>
            </tr>
            </thead>
            <tbody id="product-order-row-container">
            @if (Model.Order != null && Model.Order.OrderDetails != null)
            {
                foreach (var orderDetail in Model.Order.OrderDetails)
                {
                    <tr class="product-order-row">
                        <td class="text-center count-no"></td>
                        <td>
                            <a href="#" class="product-name" data-value="@orderDetail.ProductId">@orderDetail.Product.ProductName</a>
                            <input type="hidden" class="product-id" value="@orderDetail.ProductId"/>
                            <input type="hidden" class="order-detail-id" value="@orderDetail.Id"/>
                        </td>
                        <td class="text-center">
                            <span class="text-danger short-description">@orderDetail.Product.ShortDescription</span>
                        </td>
                        <td>
                            <input type="text" placeholder="Mô tả" class="form-control product-note" value="@orderDetail.Note"/>
                        </td>
                        <td>
                            <input type="text" placeholder="Giá gốc" class="form-control original-price" value="@orderDetail.Product.OriginalPrice" readonly="readonly" />
                        </td>
                        <td>
                            <input type="text" placeholder="Đơn giá" class="form-control unit-price" value="@orderDetail.UnitPrice" />
                        </td>
                        <td>
                            <input type="text" placeholder="Số lượng" class="form-control quantity" value="@orderDetail.Quantity" />
                        </td>
                        <td>
                            <input type="text" placeholder="Thành tiền" class="form-control product-cash" data-value="" readonly="readonly" />
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm remove-row" data-toggle="confirmation"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                }
            }
            else if (Model.Order == null)
            {
                <tr class="product-order-row">
                    <td class="text-center count-no"></td>
                    <td>
                        <a href="#" class="product-name" data-value="0">Chọn sản phẩm</a>
                        <input type="hidden" class="product-id"/>
                        <input type="hidden" class="order-detail-id" value="0"/>
                    </td>
                    <td class="text-center">
                        <span class="text-danger short-description"></span>
                    </td>
                    <td>
                        <input type="text" placeholder="Mô tả" class="form-control product-note"/>
                    </td>
                    <td>
                        <input type="text" placeholder="Giá gốc" class="form-control original-price" readonly="readonly" />
                    </td>
                    <td>
                        <input type="text" placeholder="Đơn giá" class="form-control unit-price" />
                    </td>
                    <td>
                        <input type="text" placeholder="Số lượng" class="form-control quantity" />
                    </td>
                    <td>
                        <input type="text" placeholder="Thành tiền" class="form-control product-cash" data-value="" readonly="readonly" />
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm remove-row" data-toggle="confirmation"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            }
            <tr id="tr-for-append"></tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4">
                <div class="pull-left">
                    <button class="btn btn-primary" id="add-product-row"><span class="glyphicon glyphicon-plus"></span> Thêm sản phẩm</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <table class="pull-right">
                        <tr>
                            <td style="width: 100px">
                                <h4>Tổng tiền </h4>
                            </td>
                            <td style="width: 130px">
                                <button class="btn btn-primary btn-block" id="total-cash">0</button>
                            </td>
                            <td style="width: 50px" class="text-right">
                                <h4>VNĐ</h4>
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                    <table class="pull-right">
                        <tr>
                            <td style="width: 100px">
                                <h4>Chiết khấu </h4>
                            </td>
                            <td style="width: 180px">
                                <div class="input-group" style="margin-right: 15px">
                                    <input type="text" class="form-control" id="discount-value">
                                    <div class="input-group-addon">
                                        <select id="discount-type" style="background: transparent; border: 0">
                                            <option value="0">%</option>
                                            <option value="1">VNĐ</option>
                                        </select>

                                    </div>
                                </div>
                            </td>
                            <td style="width: 130px">
                                <button class="btn btn-danger btn-block" id="total-discount">0</button>
                            </td>
                            <td style="width: 50px" class="text-right">
                                <h4>VNĐ</h4>
                            </td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                    <table class="pull-right">
                        <tr>
                            <td style="width: 100px">
                                <h4>Thực thu </h4>
                            </td>
                            <td style="width: 130px">
                                <button class="btn btn-success btn-block" id="final-cash">0</button>
                            </td>
                            <td style="width: 50px" class="text-right">
                                <h4>VNĐ</h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<input type="hidden" id="product-name-datasource" value="@Url.Action("GetProductName", "DataSource")"/>
<input type="hidden" id="customer-suggestion-datasource" value="@Url.Action("GetCustomerSuggestion", "DataSource")"/>
<input type="hidden" id="complete-order-url" value="@Url.Action("Complete","Order")" />
<input type="hidden" id="print-url" value="@Url.Action("Print","Order")" />

@section OptionalCss
{
    <link href="~/Scripts/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="~/Scripts/x-editable/select2/select2.css" rel="stylesheet" />
    <link href="~/Scripts/x-editable/select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/typeahead/typeahead-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/summernote/summernote.css" rel="stylesheet" />
}

@section OptionalJs
{
    <script src="~/Scripts/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/Scripts/x-editable/select2/select2.js"></script>
    <script src="~/Scripts/confirmation/bootstrap-confirmation.min.js"></script>
    <script src="~/Scripts/jquery.numeric.min.js"></script>
    <script src="~/Content/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="~/Content/typeahead/typeahead.bundle.js"></script>
    <script src="~/Content/summernote/summernote.min.js"></script>
    <script src="~/Scripts/views/order-edit.js"></script>
}



   
