@using MVCWeb.Core.Enums
@model MVCWeb.Core.DtoForEntities.SeatWithBookInfoDto

<div class="seat 
                @(Model.IsBooked ? "booked" : "") 
                @(Model.PaymentStatusId == (int) PaymentStatusEnum.PaidAlready ? "paid-already" : "") 
                @(Model.PaymentStatusId == (int)PaymentStatusEnum.Free ? "free-fee" : "") 
                @(!Model.HasBookInfo ? "no-bookinfo" : "") 
                ">
    <div>
        <div class="seat-label">@Model.SeatLabel</div>
        @if (Model.IsBooked)
        {
            if (!string.IsNullOrEmpty(Model.PickUpLocation))
            {
                <div class="pick-up-label">@Model.PickUpLocation</div>

            }
            <div class="book-info-panel">
                @if (!string.IsNullOrEmpty(Model.PassengerName))
                {
                    <p>@Model.PassengerName</p>
                }
                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <p class="italic text-danger">* @Model.Note</p>
                }
                <p>Nhận khách: <strong class="text-success">@Model.BookedByDisplayName</strong></p>
                @if (!string.IsNullOrEmpty(Model.PassengerPhoneNo))
                {
                    <div class="passenger-phone-panel">@Model.PassengerPhoneNo</div>
                }
            </div>
            if (Model.NbOfSeats > 1)
            {
                <div class="nb-of-seats">@(Model.NbOfSeats)G</div>
            }
            <div class="button-panel ">
                <button type="button" class="btn btn-circle btn-primary" title="Cập nhật"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-circle btn-success" title="Chuyển ghế"><span class="glyphicon glyphicon-retweet"></span></button>
                <button type="button" class="btn btn-circle btn-warning" title="Đặt chỗ nhanh"><span class="glyphicon glyphicon-download-alt"></span></button>
                <button type="button" class="btn btn-circle btn-default btn-stick @(Model.IsSticked?"is-sticked":"")" title="Đánh dấu"><span class="glyphicon glyphicon-check"></span></button>
            </div>
        }
        else
        {
            <div class="button-panel">
                <button type="button" class="btn btn-circle btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        }
    </div>
</div>