@model MVCWeb.Models.BookEditViewModel
<div class="modal fade" id="edit-bookinfo-modal" style="padding-right: 0 !important" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" @* data-backdrop="static"*@>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">Cập nhật thông tin</h4>
            </div>
            @using (Ajax.BeginForm("DoEditBookInfo", "Book", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "edit-loader",
                HttpMethod = "POST",
                OnBegin = "editBookInfoBegin",
                OnSuccess = "editBookInfoEnd"
            }, new {id = "frmBookInfoEdit"}))
            {
                <div class="modal-body" id="modal-body">

                    <input type="hidden" value="@Model.PassengerId" name="PassengerId" id="passenger-id"/>
                    <input type="hidden" value="@Model.PickUpLocationId" name="PickUpLocationId" id="pickuplocation-id">
                    <input type="hidden" value="@Model.SeatIds" name="SeatIds">
                    <input type="hidden" value="@Model.TransportId" name="TransportId">
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-12" style="padding-right: 5px">
                            <ul class="list-group seat-list">
                                @foreach (var seatLabel in Model.SeatLabels)
                                {
                                    <li class="list-group-item">@seatLabel</li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-11 col-sm-11 col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#update-ticket">Thông tin chung</a></li>
                                <li><a data-toggle="tab" href="#ticket-change-log">Lịch sử</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="update-ticket" class="tab-pane fade in active">
                                    <div class="container-fluid" style="padding-right: 10px; padding-left: 10px">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Ngày đi</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="RunDate" value="@Model.RunDate" readonly="readonly" class="form-control">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Giờ</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="RunTime" value="@Model.RunTime" readonly="readonly" class="form-control">
                                                    <div class="input-group-addon">
                                                        <i class="glyphicon glyphicon-time"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Di động</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" value="@Model.PassengerPhoneNo" name="PassengerPhoneNo" id="txtPassengerPhoneNo" class="form-control text-highlight">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Đón khách</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" value="@Model.PickUpLocation" name="PickUpLocation" id="txtPickUpLocation" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="col-md-3 col-sm-3 col-xs-12 pl0"></div>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <select class="form-control" name="IsPickUpAndGo">
                                                        @foreach (var item in Model.PickUpAndGoOptions)
                                                        {
                                                            <option value="@item.Value" @(Model.IsPickUpAndGo.ToString() == item.Value ? "selected=\"selected\"" : "")>@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Tên khách</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" value="@Model.PassengerName" id="txtPassengerName" name="PassengerName" class="form-control text-highlight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Giá vé</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="number" class="form-control text-highlight">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Tổng tiền</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <input type="text" name="PickupDate" class="form-control" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Th/toán</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <select class="form-control" name="PaymentStatus">
                                                        @foreach (var item in Model.PaymentStatusOptions)
                                                        {
                                                            <option value="@item.Value" @(Model.PaymentStatus.ToString() == item.Value ? "selected=\"selected\"" : "")>@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 pl0">Ghi chú</label>
                                                <div class="input-group col-md-9 col-sm-9 col-xs-12">
                                                    <textarea class="form-control" name="Note">@Model.Note</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ticket-change-log" class="tab-pane fade">
                                    xyz
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="edit-content" class="notification-container"></div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <img src="/Content/images/ajax-loader-3.gif" class="edit-loader" style="display: none" id="edit-loader"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button type="button" class="btn btn-block btn-success">Thêm vé</button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button type="button" class="btn btn-block btn-danger">Hủy vé</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-block btn-primary" id="btnSave">Cập nhật</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>