@model MVCWeb.Models.BookIndexViewModel
@{
    ViewBag.Title = "Quản lý nhà xe Trung Nga";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="row control-panel">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.TransportDirectionId, Model.TransportDirectionItems, new { @class = "form-control", @onchange = "$(this.form).submit();" })
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnPrevDate">&laquo;</button>
                </span>
                <input type="text" class="form-control datepicker-control" id="txtRunDateTemp" readonly="readonly">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnNextDate">&raquo;</button>
                </span>
            </div>
            @Html.HiddenFor(o => o.LatestDateHavingTransport, new { @id = "hdnLatestDateHavingTransport" })
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.TransportId, Model.TransportItems, new { @id = "ddlCurrentTransport", @class = "form-control"})
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-print"></span> In phơi</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-warning btn-block" id="btnReloadBookingContainer"><span class="glyphicon glyphicon-refresh"></span> Làm mới</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-list"></span> Đón trả</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-list-alt"></span> Trung chuyển</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="bs-callout bs-callout-warning">
        <h4>Loại xe giường nằm 40 chỗ</h4>
        <p>
            Tài xế: <strong class="text-primary">Thành</strong> - Lơ xe: <strong class="text-primary">Hiếu</strong>
        </p>
        <button id="test-modal">Test modal</button>
    </div>
</div>
<div id="divLoadingProgress" style="display: none">
    <img src="~/Content/images/ajax-loader-6.gif"/>
</div>
<div id="booking-container">
    @Html.Partial("_BookingContainer", Model)
</div>

<div id="modal-container"></div>
<input type="hidden" id="edit-bookinfo-url" value="@Url.Action("EditBookInfo", "Book")"/>
<input type="hidden" id="book-seats-url" value="@Url.Action("BookSeats", "Book")" />
<input type="hidden" id="reload-bookingcontainer-url" value="@Url.Action("LoadBookingContainer", "Book")"/>
<input type="hidden" id="passenger-suggestion-datasource" value="@Url.Action("GetPassengerSuggestion", "DataSource")"/>
<input type="hidden" id="pickuplocation-suggestion-datasource" value="@Url.Action("GetPickUpLocationSuggestion", "DataSource")" />
@section OptionalCss
{
    @Styles.Render("~/bundles/bookindex-css")
}

@section OptionalJs {
    @Scripts.Render("~/bundles/bookindex-js")
}